*.pyc
/spn/data/binary/accidents.test.data
/spn/data/binary/accidents.ts.data
/spn/data/binary/accidents.valid.data
/spn/data/binary/ad.test.data
/spn/data/binary/ad.ts.data
/spn/data/binary/ad.valid.data
/spn/data/binary/baudio.test.data
/spn/data/binary/baudio.ts.data
/spn/data/binary/baudio.valid.data
/spn/data/binary/bbc.test.data
/spn/data/binary/bbc.ts.data
/spn/data/binary/bbc.valid.data
/spn/data/binary/bnetflix.test.data
/spn/data/binary/bnetflix.ts.data
/spn/data/binary/bnetflix.valid.data
/spn/data/binary/book.test.data
/spn/data/binary/book.ts.data
/spn/data/binary/book.valid.data
/spn/data/binary/c20ng.test.data
/spn/data/binary/c20ng.ts.data
/spn/data/binary/c20ng.valid.data
/spn/data/binary/caltech101.test.data
/spn/data/binary/caltech101.ts.data
/spn/data/binary/caltech101.valid.data
/original_new_opt/models/caspn_stats.txt
/spn/data/binary/convex.test.data
/spn/data/binary/convex.ts.data
/spn/data/binary/convex.valid.data
/spn/data/binary/cr52.test.data
/spn/data/binary/cr52.ts.data
/spn/data/binary/cr52.valid.data
/models/credal_spns.pickle
/spn/data/binary/cwebkb.test.data
/spn/data/binary/cwebkb.ts.data
/spn/data/binary/cwebkb.valid.data
/spn/data/binary/dna.test.data
/spn/data/binary/dna.ts.data
/spn/data/binary/dna.valid.data
/spn/data/binary/jester.test.data
/spn/data/binary/jester.ts.data
/spn/data/binary/jester.valid.data
/spn/data/binary/kdd.test.data
/spn/data/binary/kdd.ts.data
/spn/data/binary/kdd.valid.data
/spn/data/binary/kosarek.test.data
/spn/data/binary/kosarek.ts.data
/spn/data/binary/kosarek.valid.data
/spn/data/binary/msnbc.test.data
/spn/data/binary/msnbc.ts.data
/spn/data/binary/msnbc.valid.data
/spn/data/binary/msweb.test.data
/spn/data/binary/msweb.ts.data
/spn/data/binary/msweb.valid.data
/spn/data/binary/nltcs.test.data
/spn/data/binary/nltcs.ts.data
/spn/data/binary/nltcs.valid.data
/models/non_credal_spns.pickle
/spn/data/binary/plants.test.data
/spn/data/binary/plants.ts.data
/spn/data/binary/plants.valid.data
/spn/data/binary/pumsb_star.test.data
/spn/data/binary/pumsb_star.ts.data
/spn/data/binary/pumsb_star.valid.data
/spawar@Aoraki-vm1.cs.uga.edu
/original_new_opt/models/spn_msnbc.pkle
/original_new_opt/models/spn_nltcs.pkle
/spn/data/binary/tmovie.test.data
/spn/data/binary/tmovie.ts.data
/spn/data/binary/tmovie.valid.data
/spn/data/binary/tretail.test.data
/spn/data/binary/tretail.ts.data
/spn/data/binary/tretail.valid.data
